.modal-load-table {
    .modal__body {
      width: 450px;
      height: 300px;

      .table-list {
        width: 100%;

        &__item {
          padding: 10px 20px;

          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }

          &:active {
            position: relative;
            top: 2px;
          }
        }
      }
    }
}
