.th {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &__type {
    width: 25px;
    font-size: 12px;
    overflow: hidden;
  }

  &__name {
    min-width: 50px;
    // width: 100px;
    max-width: 150px;
    overflow: hidden;
    padding: 0px 10px;
    text-align: center;
    font-size: 14px;

    input {
      border: none;
      outline: none;

      &:focus {
        border: none;
        outline: none;
        background-color: rgb(202, 202, 202);
      }
    }
  }

  &__sort {
    display: flex;
    flex-direction: column;
    width: 15px;
    user-select: none;

    span {
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }

      &:active {
        position: relative;
        top: 2px;
      }

      &.active {
        color: rgb(28, 142, 28);
      }
    }
  }
}
